.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #111111f6;
    display: flex;
    justify-content: space-between;
    z-index: 100;



    nav {
        ul {
            padding: 2rem;
            list-style: none;
            display: flex;
            gap: 20px;

            li {
               
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .icons {
        display: flex;
        padding: 2rem;

        svg {
            color: white;
            font-size: 24px;
        }
    }
}

.outletContainer {
    margin-top: -5rem;
}

.logoContainer {
display: flex;
z-index: 2000;

    .logoBackground {
        position: absolute;
        width: 10%;
        top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

    .logo {
        position: absolute;
        width: 4%;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1100;

    }

    .logoText {
        position: absolute;
        width: 8%;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1100;

    }
}