.footerContainerSuper{
    position:static;
    width: 100%;
    background-color: #1E1E1E;
    margin-top: 2rem;
    bottom: 0;
}
.footerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
    width: 80vw;
    margin:auto;
    padding-top: 2rem;
h2{
    color: #EFEFEF
    ;
}
p{
    color: #EFEFEF;
}
ul{
    list-style: none;

    li{
        color: #EFEFEF;
    }
}
}