@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    h1, h2, h3{
        font-family: "Licorice", cursive;
    }
    p, li{
        font-family: "Inika", serif;
    }
}
