section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
    width: 80vw;
    margin: auto;
    text-align: center;
    h2{
        margin-top: 2rem;
        font-size: 2rem;
    }
    p{
        padding: 2rem;
        font-size: 0.8rem;
        min-height: 220px;
       
    }
img{
    width: 100%;
    object-fit: cover;
    height: 200px;
    display: block;
    margin: auto;
}}