

.modalContent{   
   display: flex;
text-align: end;
justify-content: center;

p {
font-size: 1rem;
    margin-top: 0.5rem;
   
    font-weight: 600;
}
.modalLink{
    color: brown;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 1rem;
    font-family: "Licorice", cursive;
    font-weight: 600;
}
}