.products{

h2{
    text-align: center;
    font-size: 70px;
    margin-top:1rem;
    margin-bottom: 2rem;
    font-weight: 100;
}
h3{
    text-align: center;
    font-size: 2rem


}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
    width: 80vw;
    margin: auto;
    @media  (max-width: 1000px) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    li{
        list-style: none;
    }
    .description{
        min-height: 230px;
        padding: 1rem 0;
    }
}
img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    display: block;
    margin:  auto;
}
button{
    z-index: 900;
    background-color: #1E1E1E;
    padding: 1rem;
    border: none;
    width: 100%;
    color: #EFEFEF;
    margin-top: 1rem;
&:hover{
    background-color: rgba(0, 0, 0, 0.929);
    cursor: pointer;
}
}
}

