.headerBanner {
    width: 100vw;
    height: 98vh;
    top: 0;
    position: relative;
  }
  
  .bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .headerText {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .headerText h1 {
    font-size: 6rem;
    font-weight: 100;
  }
  